Practica1A/VisaDAOWSService-wdsl.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://visa.ssii2.server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://visa.ssii2.server/" name="VisaDAOWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://visa.ssii2.server/" schemaLocation="http://10.1.9.1:8080/P1-ws-ws/VisaDAOWSService?xsd=1"/>
</xsd:schema>
</types>
<message name="compruebaTarjeta">
<part name="parameters" element="tns:compruebaTarjeta"/>
</message>
<message name="compruebaTarjetaResponse">
<part name="parameters" element="tns:compruebaTarjetaResponse"/>
</message>
<message name="realizaPago">
<part name="parameters" element="tns:realizaPago"/>
</message>
<message name="realizaPagoResponse">
<part name="parameters" element="tns:realizaPagoResponse"/>
</message>
<message name="isPrepared">
<part name="parameters" element="tns:isPrepared"/>
</message>
<message name="isPreparedResponse">
<part name="parameters" element="tns:isPreparedResponse"/>
</message>
<message name="setPrepared">
<part name="parameters" element="tns:setPrepared"/>
</message>
<message name="setPreparedResponse">
<part name="parameters" element="tns:setPreparedResponse"/>
</message>
<message name="isDirectConnection">
<part name="parameters" element="tns:isDirectConnection"/>
</message>
<message name="isDirectConnectionResponse">
<part name="parameters" element="tns:isDirectConnectionResponse"/>
</message>
<message name="setDirectConnection">
<part name="parameters" element="tns:setDirectConnection"/>
</message>
<message name="setDirectConnectionResponse">
<part name="parameters" element="tns:setDirectConnectionResponse"/>
</message>
<message name="setDebug">
<part name="parameters" element="tns:setDebug"/>
</message>
<message name="setDebugResponse">
<part name="parameters" element="tns:setDebugResponse"/>
</message>
<message name="isDebug">
<part name="parameters" element="tns:isDebug"/>
</message>
<message name="isDebugResponse">
<part name="parameters" element="tns:isDebugResponse"/>
</message>
<portType name="VisaDAOWS">
<operation name="compruebaTarjeta">
<input wsam:Action="http://visa.ssii2.server/VisaDAOWS/compruebaTarjetaRequest" message="tns:compruebaTarjeta"/>
<output wsam:Action="http://visa.ssii2.server/VisaDAOWS/compruebaTarjetaResponse" message="tns:compruebaTarjetaResponse"/>
</operation>
<operation name="realizaPago">
<input wsam:Action="http://visa.ssii2.server/VisaDAOWS/realizaPagoRequest" message="tns:realizaPago"/>
<output wsam:Action="http://visa.ssii2.server/VisaDAOWS/realizaPagoResponse" message="tns:realizaPagoResponse"/>
</operation>
<operation name="isPrepared">
<input wsam:Action="http://visa.ssii2.server/VisaDAOWS/isPreparedRequest" message="tns:isPrepared"/>
<output wsam:Action="http://visa.ssii2.server/VisaDAOWS/isPreparedResponse" message="tns:isPreparedResponse"/>
</operation>
<operation name="setPrepared">
<input wsam:Action="http://visa.ssii2.server/VisaDAOWS/setPreparedRequest" message="tns:setPrepared"/>
<output wsam:Action="http://visa.ssii2.server/VisaDAOWS/setPreparedResponse" message="tns:setPreparedResponse"/>
</operation>
<operation name="isDirectConnection">
<input wsam:Action="http://visa.ssii2.server/VisaDAOWS/isDirectConnectionRequest" message="tns:isDirectConnection"/>
<output wsam:Action="http://visa.ssii2.server/VisaDAOWS/isDirectConnectionResponse" message="tns:isDirectConnectionResponse"/>
</operation>
<operation name="setDirectConnection">
<input wsam:Action="http://visa.ssii2.server/VisaDAOWS/setDirectConnectionRequest" message="tns:setDirectConnection"/>
<output wsam:Action="http://visa.ssii2.server/VisaDAOWS/setDirectConnectionResponse" message="tns:setDirectConnectionResponse"/>
</operation>
<operation name="setDebug">
<input wsam:Action="http://visa.ssii2.server/VisaDAOWS/setDebugRequest" message="tns:setDebug"/>
<output wsam:Action="http://visa.ssii2.server/VisaDAOWS/setDebugResponse" message="tns:setDebugResponse"/>
</operation>
<operation name="isDebug">
<input wsam:Action="http://visa.ssii2.server/VisaDAOWS/isDebugRequest" message="tns:isDebug"/>
<output wsam:Action="http://visa.ssii2.server/VisaDAOWS/isDebugResponse" message="tns:isDebugResponse"/>
</operation>
</portType>
<binding name="VisaDAOWSPortBinding" type="tns:VisaDAOWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="compruebaTarjeta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="realizaPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isPrepared">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPrepared">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isDirectConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setDirectConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setDebug">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isDebug">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VisaDAOWSService">
<port name="VisaDAOWSPort" binding="tns:VisaDAOWSPortBinding">
<soap:address location="http://10.1.9.1:8080/P1-ws-ws/VisaDAOWSService"/>
</port>
</service>
</definitions>